/* Header wrapper */
.navbar-header {
  height: 95.2px;
  background-color: black;
  color: white;
}

.padding-header-0 .container-fluid {
  padding: 0;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-brand {
  margin-left: 20px;
}

/* Toogle */
.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../../assets/toggle-nav.jpg);
}

.navbar-collapse {
  background-color: black;
  padding: 15px 5% 30px 5%;
}
/* Menu link */
.menu-link .nav-link {
  color: white !important;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.menu-link .dropdown-menu {
  background-color: #191919;
}

.menu-link .dropdown-item {
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  line-height: 5px;
  padding: 20px 70px 20px 20px;
  text-transform: uppercase;
  background-color: transparent;
}

.menu-link .dropdown-item:hover {
  background-color: transparent;
}

.row-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 52px;
}

.not-have-down-arrow a::after {
  display: none;
}

.reservation-menu-item {
  padding: 4px 12px;
  border: 2px solid #c79a39;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-menu-item a {
  padding: 0;
}

/* List img menu */
.canvas-menu-right {
  padding: 30px 35px;
}
.row-img-menu {
  row-gap: 24px;
}

.menu-right-name {
  font-size: 28px !important;
  font-weight: bold;
  font-family: monospace;
  margin-top: 60px;
}
.offcanvas-header .btn-close {
  margin-top: -8.5rem;
}
.row-img-menu img {
    width: 100%;
    object-fit: cover;
    max-width: 90px;
    height: 66px;
    border-radius: 5px;
}

/* Responsive */
@media only screen and (max-width: 1368px) {
  .reservation-menu-item {
    width: 15%;
  }
}
